<!-- Default home page -->


<div class="container-fluid" id="project">

    <table width="100%" class="table table-striped">
        <thead>
        <tr>
            <th></th>

            <th width="20%" v-for="environment in project.environments">
                <h4>{{ environment.name }}</h4>
                <!--button type="button" class="btn btn-default">Einstellungen</button-->
            </th>

        </tr>
        </thead>
        <tbody>


        <tr v-for="repository in project.repositories">
            <td>
                <div class="h4">{{ repository.name }}</div>

                <small>
                    <code>{{ repository.url}}</code><br>
                </small>

                <button type="button" class="btn btn-default">Einstellungen</button>
            </td>

            <td v-for="repenv in getEnvironments(repository.id)">



                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <code><small>{{ repenv.absolute_path}}{{ repository.relative_path}}</small></code>
                        </div>

                        <span v-show="repenv.status.missing" class="label label-danger" data-toggle="popover" data-placement="top" data-content="Repo is missing! <a href='' class='gitaction' v-on:click='onGitAction' data-exec='git clone {{ repository.url }} {{ repenv.absolute_path }}{{ repository.relative_path }} --progress'>git clone</a>">missing</span>

                        <span v-show="!repenv.status.missing" class="label label-default">{{ repenv.status.branch }}</span>
                        <span v-show="!repenv.status.missing" class="label label-warning">behind {{ repenv.status.behind }}</span>
                        <span v-show="!repenv.status.missing" class="label label-success">ahead {{ repenv.status.ahead }}</span>
                    </div>
                </div>



                <div class="dropdown" style="display:inline-block;">
                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="changeBranch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        BRANCH
                    </button>
                    <div class="dropdown-menu" aria-labelledby="changeBranch">
                        <a v-for="branch in repenv.status.branches" class="dropdown-item"  v-on:click="onGitAction" data-exec="cd {{ repenv.absolute_path }}{{ repository.relative_path }} && git checkout {{ branch }}" href="#">{{ branch }}</a>
                    </div>
                </div>

                <div class="dropdown" style="display:inline-block;">
                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="gitActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GIT ACTION
                    </button>
                    <div class="dropdown-menu" aria-labelledby="gitActions">
                        <a href="#" class="dropdown-item" v-on:click="onGitAction" data-exec="cd {{ repenv.absolute_path }}{{ repository.relative_path }} && git status">STATUS</a>
                        <a href="#" class="dropdown-item" v-on:click="onGitAction" data-exec="cd {{ repenv.absolute_path }}{{ repository.relative_path }} && git pull">PULL</a>
                        <a href="#" class="dropdown-item" v-on:click="onGitAction" data-exec="cd {{ repenv.absolute_path }}{{ repository.relative_path }} && git fetch --all">FETCH</a>
                    </div>
                </div>











            </td>


        </tr>


        </tbody>
    </table>


    <code id="result" style="background-color:black;color:#cccccc;">{{ console  }}</code>

</div>
